<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.drync.android" android:versionName="1.5.5" android:versionCode="20">
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
	<application android:icon="@drawable/icon" android:label="@string/app_name"
		android:theme="@android:style/Theme" > <!-- android:debuggable="true" -->
		<activity android:name=".Drync" android:label="@string/app_name"
			android:configChanges="keyboardHidden|orientation"
			android:screenOrientation="portrait">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
       <activity android:name=".DryncSearch"
                  android:label="@string/app_name">
			</activity>
        <activity android:name=".DryncTopWines"
                  android:label="@string/app_name">
		</activity>
        <activity android:name=".DryncCellar"
                  android:label="@string/cellar_name">
		</activity>
        <activity android:name=".DryncDetail"
                  android:label="@string/app_name">
		</activity>
        <activity android:name=".DryncCorkDetail"
                  android:label="@string/app_name">
		</activity>
        <activity android:name=".DryncDetailReviews"
                  android:label="@string/app_name">
		</activity>
        <activity android:name=".DryncAddToCellar"
                  android:label="@string/app_name">
		</activity>
		<activity android:name=".DryncSettings">
		</activity>
		<activity android:name=".DryncLocationChooser">
		</activity>
		
		<activity android:name=".DryncSocialSettings">
		</activity>
		<activity android:name=".DryncTwitterActivity"
			android:configChanges="keyboardHidden|orientation"
			android:screenOrientation="portrait">
		</activity>
		<activity android:name=".DryncFacebookActivity"
			android:configChanges="keyboardHidden|orientation"
			android:screenOrientation="portrait">
		</activity>
		<activity android:name=".DryncMyAccountActivity"
			android:configChanges="keyboardHidden|orientation"
			android:screenOrientation="portrait">
		</activity>
	</application>

	<uses-sdk android:minSdkVersion="3" />

</manifest> 